body {
  text-align: center;
  ;
}
#header {
  background-color: whitesmoke;
  border-bottom: 2px solid black;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.navbar li {
  list-style-type: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: pink;
  width: 50px;
}
.navbar li:hover {
  background-color: antiquewhite;
}
.pic {
  width: 100px;
  height: 100px;
}
 
